@color: #59271B;
@color0: #722A07;
@color1: darken(@color, 50%);
@color2: lighten(@color, 40%);
@color-bt: brown;
@color-bt2: #b8860b;
@color-in: burlywood;
@color-main: #E5D4C4;
@font: 20px;
@border: 2px solid white;
@border-main: 3px solid white;
@radius: 15px;
@tb: 125px;

.transit(@time: 0.0s) {
  transition: @time;
}
.transform(@sc) {
  -webkit-transform: scale(@sc);
  -ms-transform: scale(@sc);
  -o-transform: scale(@sc);
  transform: scale(@sc);
}
.lighter() {
  background: @color - 50%;
}
@font-face {
  font-family: Sa; /* Гарнитура шрифта */
  src: url(font/ShellyAllegro.ttf); /* Путь к файлу со шрифтом */
}

* {margin:0;}


body{
  /*background-color: @color0;
  background: linear-gradient(@color 0%, @color2 100%);*/
  /*.lighter();*/
  background-image: url('pic/fon.jpg') ;
  background-repeat: repeat;
  overflow-x: hidden;
}
/*главная картинка*/
.fon img{
  position: relative;
  top: 35px;
  display: block;
  width: 1000px;
  height: 266px;
  margin: 0 auto;
  .transit;
}
/*верхнее поле - меню с кнопками*/
.head {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  /*background-color: @color-in;*/
  background-image: url('pic/yellow.jpg') ;
  background-repeat: repeat;
  box-shadow: 8px 8px 8px ;
  text-shadow: 2px 2px 2px white;
  z-index: 10;
}
/*Кнопки в верхнем меню*/
.top_button{
  position: inherit;
  height: 35px;
  width: @tb;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
  color: @color-bt;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
  &:hover {
    /*background-color:@color-main;*/
    background-image: url('pic/yellow1.jpg') ;
    color:white;
    text-shadow: 1px 1px 1px black;
  }
}
/*Расположение кнопок меню*/
.top_button_0{
  right: @tb * 6;
}
.top_button_1{
  right: @tb * 5;
}
.top_button_2{
  right: @tb * 4;
}
.top_button_3{
  right: @tb * 3;
}
.top_button_4{
  right: @tb * 2;
  &:hover {
    .our_work {visibility: visible}
  }
}
.top_button_5{
  right: @tb * 1;
}
.top_button_6{
  right: @tb * 0;
}
/*поле с номером телефона*/
.tel {
  padding-left: 15px;
  padding-right: 15px;
  width: @tb;
  font-size: 1.2em;
    &:hover {
    .phone {
      visibility: visible;

    }
  }
}
/*Выпадающее окно с телефоном*/
.phone {
  position: relative;
  top:13px;
  left: -20px;
  /*background-color: @color-in;
  color: @color-bt;*/
  width: 160px;
  padding-top: 11px;
  height: 30px;
  text-align: center;
  visibility: hidden;
  background-image: url('pic/yellow1.jpg') ;
  color:white;
  margin-top: -2px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 8px 8px 8px black;
}
/*Выпадающее меню на 3 кнопки*/
.our_work {
  position: relative;
  top:17px;
  right: 0;
  margin-top: -2px;
  /*background-color: @color-in;
  color: @color-bt;*/
  background-image: url('pic/yellow1.jpg') ;
  color:white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  visibility: hidden;
  box-shadow: 8px 8px 8px black;
}
/*.top_button_4:hover .our_work {visibility: visible}

/*3 нопки выпадающего меню*/
.we_do {
  border: solid #ffffff 1px;
  padding: 20px;
  width: @tb - 42px;
}
/*Главное поле для размещения информации*/
.main {
  background-image: url('pic/pergament.jpg') ;
  background-repeat: repeat;
  /*background-color: @color-main;*/
  display: block;
  width: 1050px;
  margin: 0 auto;
  margin-top: -60px;
  border: @border-main;
  box-shadow: 8px 8px 8px ;
  border-radius: @radius;
  .transit;
  /*Главная картинка*/
  .face {
    position: relative;
    top: 20px;
    left: 20px;
    width: 45%;
    border-radius: @radius;
    border: @border-main;
    .transit;
  }
}
@import "http://webfonts.ru/import/andika.css";
/*
	Andika, 400
*/


/*Наименование салона*/
.named {
  display: inline-block;
  position: relative;
  left: 100px;
  top: -85px;
  font-size: 85px;
  font-weight: bold;
  /*font-family: 'Lobster', arial, serif;*/
  font-family: Sa;
  color: darkblue;
  text-shadow: 2px 2px 2px white;
  .transit;
}
/*Время работы*/
.time {
  display: block;
  position: relative;
  top: -85px;
  left: 525px;
  border-radius: @radius;
  border: @border-main;
  width: 480px;
  height: 60px;
  text-align: center;
  color: @color;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px;
  background-image: url('pic/yellow1.jpg') ;
  background-repeat: repeat;
  .transit;
}
/*Прайс*/
.price {
  background-image: url('png/script.png');
  background-repeat: no-repeat;
  position: relative;
  width: 500px;
  height: 307px;
  font-size: 22px;
  text-shadow: 3px 3px 2px black;
  font-weight: bold;
  color: white;
  /*color: navajowhite;*/
  transition-duration: 0.2s;
  margin: 0 auto;
  margin-top: 50px;
  padding: 100px;

}
.say {
  .price;
  /*background-image: url('pic/pergament.jpg') ;
  background-repeat: repeat;*/
}
/*Карта*/
.map {
  position: relative;
  top: 50px;
  left: 193px;
  border: 1px solid @color-bt2;
  width: 616px;
  height: 450px;
}
/*Адрес под картой*/
.adress {
  display: block;
  position: relative;
  width: 480px;
  height: 80px;
  text-align: center;
  color: @color;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;
}
/*Примеры работ*/
.works {
  padding-top: 50px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 998px;
  align-content: space-around;
  .transit;
}
/*Нижняя веточка*/
.fon-bottom {
  position: relative;
  margin-top: -220px;
  margin-left: -150px;
  width: 500px;
  top:100px;
}
/*Правая веточка*/
.fon-right {
  display: block;
  position: relative;
  margin-top: 0;
  left: 880px;
  width: 450px;
  img {
    transform: rotate(270deg);
    width: 80%;
  }
}

/*Нижняя часть*/
.footer {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 30px;
  text-shadow: black 2px 4px 2px;
  a{
    text-decoration: none;
    color: white;
  }
}

.me {
  color: @color;
  font-size: @font;
  width: 500px;
  height: 430px;
  border-radius: @radius;
  border: @border;
  padding: 10px;
}

.my-foto{
  border: @border;
  border-radius: @radius;
}
#scissors {
  position: absolute;
  z-index: 8;
}

.about_me {
  height: 850px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 998px;
  align-content: space-around;
  .transit(0.9s)
}
.examples, .certificat {
  margin:25px 25px;
  height: 160px;
  border-radius: 10px;
  transition: 0.5s;
  border: 1px solid black;
  box-shadow:  3px 3px 5px rgba(0,0,0,0.9);
  &:hover {
    .transform(2);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    border: @border;
    box-shadow:  17px 17px 7px rgba(0,0,0,0.9);
  }
}

.certificat {
  &:hover {
    .transform(2.4);}
}

.c1 {
  &:hover {
    .transform(3);}
}

@media screen and (max-width: 1100px){

  .main {
    width: 800px;
    .transit;
  }
  .time {

    width: 370px;
    left: 405px;
    .transit;
  }
  .named {
    font-size: 65px;
    .transit;
  }
  .fon img{
    width: 840px;
    .transit;
  }
  .map{
    left: 100px;
    .transit;
  }
  .fon-bottom img{
    margin-left: 30px;
    transform: scale(0.7);
    .transit;;
  }
  .fon-right{
    left: 600px;
    transform: scale(0.7);
    .transit;
  }
  .tel{
    visibility: hidden;
  }
  .works{
    width: 798px;
    .transit(0.5s);
  }
  .about_me {
    width: 798px;
    height: 950px;
    .transit(0.5s);
  }

  .certificat {
    &:hover {
      .transform(2);}
  }

  .c1 {
    &:hover {
      .transform(2.5);}
  }
}
