* {margin:0;}
@font-face {
    font-family: Sa; /* Гарнитура шрифта */
    src: url(font/ShellyAllegro.ttf); /* Путь к файлу со шрифтом */
}

body{
    background-color: #59271B;
    /*background-image: url("pic/bg5.jpg");*/
}
.fon img{
    position: relative;
    top: 35px;
    display: block;
    width: 1000px;
    height: 266px;
    margin: 0 auto;
    transition: 0.5s;
}
.head {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: burlywood;
    z-index: 10;
}
.top_button{
    position: inherit;
    height: 35px;
    width: 150px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    color: brown;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
.top_button_1{
    left: calc(100% - 750px);
}
.top_button_2{
    left: calc(100% - 600px);
}
.top_button_3{
    left: calc(100% - 450px);
}
.top_button_4{
    left: calc(100% - 300px);
}
.top_button_5{
    left: calc(100% - 150px);
}
.top_button:hover{
    background-color:  #E5D4C4;
    color:#b8860b;
}
.tel {
    padding-left: 15px;
    padding-right: 15px;
    width: 170px;
    font-size: 1.2em;
}
.phone {
    position: relative;
    top:13px;
    left: -20px;
    background-color: #B4944B;
    color: darkblue;
    width: 205px;
    text-align: center;
    visibility: hidden;
}

.tel:hover .phone {visibility: visible}

.main {
    background-color: #E5D4C4;
    display: block;
    width: 1000px;

    margin: 0 auto;
    margin-top: -60px;
    border: 3px solid white;
    box-shadow: 2px 4px 8px ;
    border-radius: 10px;
    transition: 0.5s;
}

.main .face {
    position: relative;
    top: 20px;
    left: 20px;
    width: 45%;
    border-radius: 10px;
    border: 3px solid white;
    transition: 0.5s;
}
.named {
    display: inline-block;
    position: relative;
    left: 100px;
    top: -85px;
    font-size: 85px;
    font-weight: bold;
    /*font-family: 'Lobster', arial, serif;*/
    font-family: Sa;
    color: darkblue;
    transition: 0.5s;
}
.time {
    display: block;
    position: relative;
    top: -85px;
    left: 495px;
    border-radius: 10px;
    border: 3px solid white;
    width: 480px;
    height: 80px;
    text-align: center;
    color: #B4944B;
    font-weight: bold;
    font-size: 1.3em;
    transition: 0.5s;
}

.price {
    width: 380px;
    font-weight: bold;
    color: #59271B;
    transition-duration: 2s;
}
.footer {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 30px;
    text-shadow: black 2px 4px 2px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.map {
    position: relative;
    top: 50px;
    left: 193px;
    border: 1px solid #B4944B;
    width: 616px;
    height: 450px;

}
.adress {
    display: block;
    position: relative;
    width: 480px;
    height: 80px;
    text-align: center;
    color: #B4944B;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
}
.fon-bottom {
    position: relative;
    margin-top: -220px;
    margin-left: -170px;
    width: 500px;
    top:100px;
}

.fon-right {
    display: block;
    position: relative;
    margin-top: 0;
    left: 850px;
    width: 450px;
}
.fon-right img{
    transform: rotate(270deg);
    width: 80%;
}
.examples {
    margin:25px 25px;
    height: 160px;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid black;
    box-shadow:  3px 3px 5px rgba(0,0,0,0.9);

}
.examples:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    border: 2px solid white;
    box-shadow:  17px 17px 7px rgba(0,0,0,0.9);
}

.works {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 998px;
    align-content: space-around;

}
.our_work {
    position: relative;
    top:17px;
    left: calc(100% - 150px);
    background-color: burlywood;
    color: brown;

    text-align: center;
    visibility: hidden;

}
.top_button_4:hover .our_work {visibility: visible}

.we_do {

    border: solid #ffffff 1px;
    padding: 20px;
    width: 108px;
}
@media screen and (max-width: 1000px){
    .main {
        width: 800px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .time {
        width: 370px;
        left: 405px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .named {
        font-size: 65px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .fon img{
        width: 840px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .map{
        left: 100px;
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .fon-bottom img{
        margin-left: 30px;
        transform: scale(0.7);
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .fon-right{
        left: 600px;
        transform: scale(0.7);
        transition: 0.5s;
    }
}
@media screen and (max-width: 1000px){
    .tel{
        display: none;
        transition: 1s;
    }
}
@media screen and (max-width: 1000px){
    .works{
        width: 798px;
        transition: 1s;
    }
}
